@media(min-width: 769px) {

    .seloContainer {
        position: absolute;
        top: -9px;
        left: 42%;
        transform: translateX(-50%);
        width: 138px;
    }

    .seloContainer img {
        width: 100%;
    }

    .copy-ss p {
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #FF0000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .copy-ss {
        position: absolute;
        left: 40%;
        transform: translateX(-50%);
        bottom: 20px;
    }

    .copy-ss.copy-relative {
        position: relative;
        bottom: 0px;
        width: 100%;
        margin-top: 10px;


        transform: none;
        left: 0;

    }

    .copy-ss img {
        width: 20px;
        height: 20px;
        margin-right: 7px;
    }

    .flightcardlist {
        position: relative;
    }

    div.flightgroupcard>div:nth-of-type(1)>div:nth-of-type(3) {
        padding-top: 46px;
    }

     div.flightgroupcard>div:nth-of-type(1) {
        position: relative;
        padding-bottom: 20px;
    }

    /*
    div.flightcarditem .arrow_details span {
        background: #F1F3F4;
        border-radius: 3px;
        width: 70px;
        background-image: none;
        height: 38px;
    }

    div.flightcarditem .arrow_details span p {
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #000000;
        margin-bottom: 5px;
    }

    div.flightcarditem .arrow_details span div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    div.flightcarditem .arrow_details {
        position: relative;
        left: 15px;
    }

    div.flightcarditem .arrow_details.reverse {
        transform: rotate(0deg)
    }

    div.flightcarditem .arrow_details.reverse svg {
        transform: rotate(180deg)
    } */
}

@media(max-width: 768px) {

    .seloContainer {
        position: absolute;
        top: -12px;
        left: 0.5px;
    }

    #root>main>div.contentbox>div.flightgroupcard>div:nth-child(1)>div.flightcardsidebar {
        padding-top: 28px;
    }

    .copy-ss {
        padding: 10px 0px;
    }

    .copy-ss p {
        font-size: 12px;
        line-height: 16.34px;
        display: flex;
        text-align: center;
        color: #FF0000;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-family: "Open Sans";

    }

    .copy-ss img {
        margin-right: 8px;
        margin-top: 2px;
    }

    /* div.flightcarditem .arrow_details span {
        background: #F1F3F4 !important;
        border-radius: 3px;
        width: 119px;
        height: 17px;
        position: relative;
    }

    div.flightcarditem .arrow_details span p {
        font-weight: 300;
        font-size: 10px;
        line-height: 14px;

        color: #000000;
    }

    div.flightcarditem .arrow_details span div {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    div.flightcarditem .arrow_details {
        position: absolute;
    } */

}