@media(min-width: 769px) {
    .seloContainer {
        position: absolute;
        left: 48px;
    }

    .seloContainer svg {
        width: 100px;
    }

    .copy-ss p {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FF0000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .copy-ss {
        position: relative;
        bottom: 0px;
        width: 100%;
        margin-top: 10px;
    }

    .copy-ss svg {
        width: 25px;
        height: 25px;
        margin-right: 7px;
    }

    .flightcardlist {
        position: relative;
    }

    div.flightcarditem .arrow_details span {
        background: #F1F3F4;
        border-radius: 3px;
        width: 70px;
        background-image: none;
        height: 38px;
    }

    div.flightcarditem .arrow_details span p {
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        color: #000000;
        margin-bottom: 5px;
    }

    div.flightcarditem .arrow_details span div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    div.flightcarditem .arrow_details {
        position: relative;
        left: 15px;
    }

    div.flightcarditem .arrow_details.reverse {
        transform: rotate(0deg)
    }

    div.flightcarditem .arrow_details.reverse svg {
        transform: rotate(180deg)
    }
}

@media(max-width: 768px) {
    .copy-ss {
        padding: 10px 0px;
    }

    .copy-ss p {
        font-size: 10px;
        line-height: 14px;
        display: flex;
        text-align: center;
        color: #FF0000;
        align-items: center;
        justify-content: center;

    }

    .copy-ss svg {
        margin-right: 8px;
        margin-top: 2px;
    }

    div.flightcarditem .arrow_details span {
        background: #F1F3F4 !important;
        border-radius: 3px;
        width: 119px;
        height: 17px;
        position: relative;
    }

    div.flightcarditem .arrow_details span p {
        font-weight: 300;
        font-size: 10px;
        line-height: 14px;
        /* identical to box height */
        color: #000000;
    }

    div.flightcarditem .arrow_details span div {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    div.flightcarditem .arrow_details{
        position: absolute;
    }

}