section.hero-with-light-background .content-wrapper .title h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 60px;
    margin-bottom: 24px;
    color: #383838;
}

section.hero-with-light-background .top-wrapper {
    padding: 60px 0 0;
}

section.partners-section,
section.featured-section,
section.bullets {
    display: none;
}

div.subtitle.rich-text-content {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;

    color: #383838;
    margin-bottom: 40px;
}

section.hero-with-light-background .content-wrapper .subtitle {
    max-width: 100%;
}

/* .hero-with-light-background .image-wrapper .ilustration {
    position: relative;
    top: -30px;
} */

div#header-top-bar,
.header .primary-header {
    background-color: #181818;
}

div#header-top-bar a {
    color: #fff;
    text-decoration: underline;
}

div.ctas,
div.topics-wrapper {
    display: none;
}

.list-ss {
    list-style: none;
    display: flex;
    width: 740px;
}

.list-ss div {
    margin-right: 50px;
}

div.list-ss>div:nth-of-type(2) {
    width: 400px;
}

.list-ss li {
    font-size: 16px;
    color: #383838;
    display: flex;
    margin-bottom: 36px;
}

.list-ss li svg {
    margin-right: 10px;
}

.list-ss li p {
    width: 100%;
}

.cardsSS {
    display: flex;
    justify-content: space-between;
}

.container-ss button,
.falarIugu {
    background: #5274FF;
    border-radius: 100px;
    width: 300px;
    height: 48px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-weight: 300;
    font-family: "Museo Sans";
    border: none;
    font-size: 16px;
    margin-top: 24px;
    cursor: pointer;
}

.dobraCardsSS h2 {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 10px;
    color: #383838;
}

.dobraCardsSS p {
    color: #383838;
    text-align: center;
    font-size: 24px;

}

.dobraCardsSS .containerSS {
    max-width: 1174px;
    margin: 0 auto;
}

.dobraCardsSS .item img {
    width: 100%;
}

.dobraCardsSS .item {
    width: 350.03px;
    text-align: left;
}

.dobraCardsSS .item h3 {
    margin-top: 29px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    /* preto */

    color: #000000;
}

.dobraCardsSS .item p {
    font-style: normal;
    font-weight: 400;
    font-size: 14.1584px;
    line-height: 20px;
    /* or 144% */
    text-align: left;
    /* preto */

    color: #000000;
}

.title-ss {
    margin-bottom: 40px;
}

.verMais {
    text-align: center;
}

.verMais button {
    background: none;
    border: none;
    text-decoration: underline;
    color: #383838;
    font-size: 16px;
    cursor: pointer;
}

.verMais button svg {
    width: 15px;
    margin-left: 5px;
    transition: .3s;

}


.cardForActive {
    display: none;
}

.cardForActive.active {
    display: block;
    margin-top: 40px;
}

.verMais button.active {
    color: #5274FF;
    font-weight: 700;
}

.verMais button.active svg {
    transform: rotate(180deg);
}



.flexContainer {
    display: flex;
    justify-content: space-between;
}

.falarIugu {
    margin-top: 0px;
    margin-right: 30px;
}

.planos {
    width: 300px;
    height: 48px;
    border: 1px solid #383838;
    border-radius: 100px;
    background: transparent;
    font-size: 16px;

}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
    margin-top: 70px;
}

.hero-with-light-background .image-wrapper {
    position: relative;
    left: 40px;
    top: -67px;
}