.gauge {
  margin-bottom: 32px;
}

.row.d-flex.flex-column.flex-md-row.justify-content-end.pb-3 {
  display: none !important;
}

.card.col-md-4.p-md-0.tour-guide-item-inativo {
  display: none;
} 
.col-md-4.residential-banner-container {
  margin-top: 34px;
}
a.residential-banner-item img {
  height: 192px;
  object-fit: fill;
}
.container-ss {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
}
.container-ss-2 {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
.container-ss h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  color: #007cb6;
  gap: 8px;
  margin-bottom: 16px;
}
.info-ss-user {
  background: #ffffff;
  /* Secondary/Secondary 0 */
  flex: 1;
  border-top: 4px solid #007cb6;
  box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.16), 4px 4px 8px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  padding: 24px;
}

.details-info-user {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.details-info-user p {
  display: flex;
  align-items: center;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.025em;
  color: #005075;
  margin: 0;
  padding: 0;
}

.details-info-user p img {
  margin-right: 16px;
}

.details-info-user p strong {
  margin-left: 4px;
}

.container-info-user {
  display: flex;
  justify-content: space-between;
}

.ultima-fatura {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ultima-fatura .chama {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.chama p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: right;
  letter-spacing: -0.025em;
  color: #005075;
}

.value-fatura {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.015em;
  color: #005075;
}
.buttons-detalhe-fatura {
  display: flex;
  gap: 24px;
  padding-top: 24px;
  border-top: 1px solid #c4c4c4;
}
.buttons-detalhe-fatura button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: 2px solid #007cb6;
  border-radius: 60px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.025em;
  gap: 8px;
}

.buttons-detalhe-fatura button:nth-child(1) {
  background-color: transparent;
  color: #007cb6;
  display: none;
}

.buttons-detalhe-fatura button:nth-child(2) {
  background-color: #007cb6;
  color: #fff;
}

.debito-protestados {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 32px 24px 16px 24px;

  display: none;
  gap: 24px;
  flex-direction: column;
  max-width: 304px;
}

.debito-protestados h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;

  display: flex;
  align-items: center;
  letter-spacing: -0.015em;

  color: #005075;
  gap: 8px;
}

.debito-protestados p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.025em;
  color: #005075;
}

.debito-protestados p span {
  font-weight: 700;
  font-size: 16px;
  color: #f89c1b;
}

.debito-protestados button {
  border: 2px solid #7fc241;
  border-radius: 60px;
  height: 40px;
  background-color: #fff;
  color: #7fc241;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-top: 10px;
}


.vencida .buttons-detalhe-fatura button:nth-child(1) {
  display: flex;
}
.vencida .debito-protestados {
  display: flex;
}

.vencida .details-info-user .status strong {
  color: #f89c1b;
}
div#mainContent {
  max-width: 944px;
  margin: 0 auto;
}


@media (max-width: 1000px) {
  .container-ss-2 {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  .vencida .debito-protestados {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .container-ss{
    margin-top: 24px;
  }
  .info-ss-user{
    overflow-x: hidden;
  }
  .container-ss h1 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #007cb6;
  }
  .container-ss h1 img{
    width: 24px;
    height: 24px;
  }
  .container-info-user {
    flex-direction: column;
  }
  .ultima-fatura,
  .details-info-user {
    align-items: center;
  }
  .ultima-fatura{
    padding-bottom: 24px;
    align-items: flex-start;
  }
  p.status {
    /* position: relative;
    left: -26px; */
  }
  p.vencido {
    /* position: relative;
    left: 6px; */
  }
  .ultima-fatura .chama {
    /* position: relative;
    left: -22px; */
  }
  .value-fatura {
    /* position: relative;
    left: -29px; */
  }
  .buttons-detalhe-fatura {
    flex-direction: column;
    gap: 16px;
  }
  .vencida .debito-protestados {
    align-items: center;
    text-align: center;
  }
  .debito-protestados button {
    width: 100%;
  }

  .buttons-detalhe-fatura button:nth-child(2){
    width: 100%;
  }
}