img.img-responsive.shadow {
  height: 155.23px;
}

div.contract-container[_ngcontent-serverApp-c193] {
  margin-top: 0;
}

img.img-responsive.shadow.hidden-xs.hidden-sm {
  width: 100%;
  object-fit: cover;
}