#hero {
    display: none !important;
}



ul {
    padding: 0;
    list-style: none;
}

.container-ss {
    width: 1200px;
    margin: 0 auto;
}

.hero-ss {
    background-image: url("https://github.com/ErosSuperSonic/supersonic-projetos/blob/main/XP/teste1/background.png?raw=true");
    padding-bottom: 101px;
    padding-top: 100px;
    width: 100%;
}

.hero-ss h1 {
    width: 613px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;

}

.hero-ss ul {
    margin-top: 32px;
    margin-left: 0;
}

.hero-ss ul li svg {
    margin-right: 16px;
}

.hero-ss ul li {
    color: #fff;

    display: flex;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 180%;
    color: #FFFFFF;
}

.hero-ss a {
    width: 229px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: #0053A8;
    margin-top: 48px;
    color: #fff;
    text-decoration: none;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
}

@media(max-width:1200px) {
    .container-ss {
        padding: 100px 60;
    }
}

@media(max-width:768px) {
    .container-ss {
        padding: 100px 60;
    }

    .hero-ss h1 {
        font-size: 26px;
        line-height: 120%;
        color: #FFFFFF;
    }

    .hero-ss a {
        width: 100%;
    }

    .hero-ss ul {
        margin-top: 24px;
    }

    .hero-ss ul li svg {
        width: 20px;
        height: 20px;
    }

    .hero-ss ul li {
        font-size: 16px;
    }

    .hero-ss a{
        margin-top: 24px;
    }
    .hero-ss{
        background-image: url();
    }
}