soma-heading.hero__heading>p,
header.hero__header>soma-heading,
soma-subtitle.soma-subtitle,
div.h-disclaimer>soama-container soma-grid-col.md-5,
soma-grid-col.lg-8 {
    display: none;
}

soma-grid-col.md-3 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

body > soma-container > soma-container > soma-grid > soma-grid-row {
    position: absolute !important;
    top: 50% !important;
    right: 20% !important;
    transform: translateY(-50%) !important;
}

soma-heading.hero__heading>p {
    display: none;
}

soma-grid-col.md-3 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}



.bg-hero-d41d8cd98f00b204e9800998ecf8427e[class] {
    background-image: url("https://raw.githubusercontent.com/ErosSuperSonic/supersonic-projetos/main/clear/teste10/C/fundoC.png") !important;
    background-size: cover;
}

:host(.soma-grid-row) ::slotted(.soma-grid-col) {
    padding: 0px;
}

soma-container.hero {
    height: auto !important;
    padding-bottom: 100px;
}


.maxContainer ul {
    padding: 0;
}

.maxContainer span {
    display: contents;
}

.logo {
    padding-top: 67px;
}

.coluna1TextSS p:nth-child(1) {
    font-family: 'Clear Geo';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */


    color: #FFFFFF;

}

.coluna1TextSS h1 {
    font-family: 'Clear Geo';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
    width: 542px;
    margin-top: 100px;
    margin-bottom: 16px;
}

.coluna1TextSS p {
    font-family: 'Clear Geo';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: #fff;
    width: 628px;
    margin-bottom: 40px;
}

.lista-ss li {
    margin-bottom: 16px;
}

.lista-ss div {
    display: flex;
    align-items: center;
    color: #fff;
    width: fit-content;
}

.lista-ss svg {
    margin-right: 8px;
}

.container-text a {
    margin: 32px 0px;
    color: #fff;
    text-decoration: none;
    width: 368px;
    height: 56px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.copy {
    width: 751px;
}

.copy p,
.copy a {
    font-family: 'Clear Geo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */


    color: #FFFFFF;
}

a.abraSuaConta {
    display: none;
}

@media(max-width: 1200px) {
    .maxContainer {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media(max-width: 1062px) {
    body>soma-container.hero.bg-hero-d41d8cd98f00b204e9800998ecf8427e.soma-container.full.hydrated>soma-container>soma-grid {
        display: none;
    }

    a.abraSuaConta {
        display: flex;
        margin-top: 40px;
        color: #0500F5;
        text-decoration: none;
        width: 368px;
        height: 56px;
        border: 2px solid #00FF7B;
        background: #00FF7B;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 700;
    }

    .logo {
        text-align: center;
    }

}


@media(max-width: 821px) {
    .coluna1TextSS h1 {
        width: 100%;
    }

    .coluna1TextSS p {
        width: 100%;
    }

    .copy {
        width: 100%;
    }
    .maxContainer{
        padding: 0;
    }
}

@media(max-width: 600px) {
    .coluna1TextSS h1 {
        font-weight: 700;
        font-size: 29px;
        line-height: 120%;
        margin-top: 32px;
        margin-bottom: 24px;
    }

    .hero__container {
        justify-content: flex-start !important;
    }

    .coluna1TextSS p {
        font-weight: 500;
        font-size: 23px;
        line-height: 120%;
    }

    .lista-ss div {
        align-items: flex-start;
    }

    .coluna1TextSS p {
        margin-bottom: 24px;
    }

    .container-text a {
        margin: 16px auto;
        width: 100%;
    }

    a.abraSuaConta {
        width: 100%;
        margin-top: 40px;
    }
}