soma-heading.hero__heading>p,
header.hero__header>soma-heading,
soma-subtitle.soma-subtitle,
div.h-disclaimer>soama-container soma-grid-col.md-5,
soma-grid-col.lg-8 {
    display: none;
}

soma-grid-col.md-3 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
}

.soft-lead {
    position: absolute;
    right: 0;
}

soma-heading.hero__heading>p {
    display: none;
}

soma-grid-col.md-3 {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.bg-hero-d41d8cd98f00b204e9800998ecf8427e[class] {
    background-image: url("https://raw.githubusercontent.com/ErosSuperSonic/supersonic-projetos/main/clear/teste10/fundoC.png") !important;
    background-size: cover;
}

:host(.soma-grid-row) ::slotted(.soma-grid-col) {
    padding: 0px;
}

soma-container.hero {
    height: auto !important;
    padding-bottom: 100px;
}


.maxContainer ul {
    padding: 0;
}

.maxContainer span {
    display: contents;
}

.logo {
    padding-top: 67px;
}

.maxContainer h1 {
    font-family: 'Clear Geo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */
    color: #FFFFFF;

    margin-bottom: 16px;
}

.maxContainer p {
    font-family: 'Clear Geo';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    /* or 36px */
    color: #fff;
    width: 628px;

}

.maxContainer p span {
    color: #00FF7B;

}

.textSS h1 {
    margin-top: 100px;
    width: 547px;
}


.textSS ul {
    margin-top: 40px;
    list-style: none;
    width: 700px;

}


.textSS ul li {
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;

    display: flex;
    font-family: "Clear Geo";
}

.textSS ul li a {
    color: #FFFFFF;
}

.textSS ul li svg {
    margin-right: 8px;
    width: 31px;

}

.links a,
.links p {
    font-family: 'Clear Geo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    text-decoration-line: underline;

    color: #FFFFFF;
}

.inscrevasse {
    width: 368px;
    height: 56px;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Clear Geo';

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none !important;
}

.links p {
    text-decoration: none;
    margin-top: 32px;
}

.links {
    margin-top: 32px
}

.links a.abraSuaContaSS {
    display: none !important;
    width: 368px;
    height: 53px;
    background: #00FF7B;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    text-decoration: none;

}

.hero .soft-lead {
    height: 274px !important;
}

@media(max-width: 1200px) {

    .hero .soft-lead,
    body>soma-container.hero.bg-hero-d41d8cd98f00b204e9800998ecf8427e.soma-container.full.hydrated>soma-container>soma-grid {
        display: none !important;
    }

    .maxContainer h1,
    .maxContainer p,
    .textSS h1,
    .textSS ul {
        width: 100%;
    }

    .links a.abraSuaContaSS {
        display: flex !important;
        margin-bottom: 12px;
        border-color: #00FF7B;
        color: #0500F5;
    }

}

@media(max-width:1020px) {
    .buttons {
        display: flex;
        flex-direction: column;
    }

    .buttons a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 311px;
        height: 56px;

        background: #00FF7B;
        box-shadow: 0px 8px 16px rgba(4, 4, 207, 0.16);
        border-radius: 4px;
    }

    .maxContainer {
        padding: 0px;
    }
}

@media(max-width: 768px) {

    .inscrevasse,
    .links a.abraSuaContaSS {
        width: 100%;
    }

    .maxContainer h1 {
        font-size: 29px;
        line-height: 120%;
    }

    .maxContainer p {
        font-size: 23px;
        line-height: 120%;
    }

    .textSS ul li,
    .textSS ul li a {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%
    }

    .links p {
        font-size: 14px;
        line-height: 150%;
    }

    .textSS h1 {
        margin-top: 32px;
    }

    .logo {
        padding: 0;
        width: 120px;
        margin: 0 auto;
    }

    .logo img {
        width: 100%;
    }

    .hero__container {
        position: inherit !important;
    }

    .my3SVG {
        width: 27px;
        margin-right: 4px;
    }
}