.Banner_banner__inverse__3LYIO .Banner_banner__content__1J4FE {
  background-color: #0400b8 !important;
}
.Banner_banner__inverse__3LYIO{
  background-color: #fff !important;
}

.Banner_banner__inverse__3LYIO svg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(91%) saturate(903%) hue-rotate(174deg) brightness(88%) contrast(90%);
}

div.Descricao_descriptionSection__3m0w_.Descricao_night__1Rxn2{
  background: #fff;
}

div.Descricao_descriptionSection__3m0w_.Descricao_night__1Rxn2 .Descricao_wrapper__182Up{
  background: #0400B8;
}

div.CardIcon_cardIcon__inverse__2v-Uv{
  background: #fff;
}

.CardIcon_cardIcon__cards__1h1WK svg {
  filter: brightness(0) saturate(100%) invert(10%) sepia(97%) saturate(7282%) hue-rotate(250deg) brightness(83%) contrast(142%);
}

div.CardIcon_cardIcon__inverse__2v-Uv{
  background: #fff;
}
soma-heading.CardIcon_cardIcon__card__title__2Z8G1.soma-heading.heading-4.inverse.hydrated,
soma-description.CardIcon_cardIcon__card__description__1rGwd.soma-description.inverse.hydrated{
  color: #1D262F;
}

.CardIcon_cardIcon__inverse__2v-Uv .CardIcon_cardIcon__button__OBhqv soma-button,
div.ContentList_contentList__content__2dP7i>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1)>div>soma-context>soma-button,
.PlatformsTrio_button__inverse__hjLpP{
  background: #0500F5 !important;
  color: #fff !important;
}

div.ContentList_contentList__inverse__R8A7U{
  background: #fff;
}

.ContentList_contentList__inverse__R8A7U .ContentList_contentList__main__26XLk {
  background: #F5F7F9 !important;
}

soma-heading.ContentList_contentList__title__XK3Vl.soma-heading.heading-4.inverse.hydrated {
  color: #1D262F;
}

.ContentList_contentList__inverse__R8A7U .ContentList_contentList__card__large__1ly6k, .ContentList_contentList__inverse__R8A7U .ContentList_contentList__card__small__1Sf_i,
.PlatformsTrio_wrapper__3AKkv .PlatformsTrio_boxcontainer__3nc9f .PlatformsTrio_boxwrapper__inverse__3bIGY{
  background: #fff !important;
}

.ContentList_contentList__card__small__title__29Llw,
div.ContentList_contentList__content__2dP7i>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1)>div:nth-of-type(1)>p{
  color: #1D262F;
}

soma-description.ContentList_contentList__card__small__description__3zUk5.soma-description.inverse.hydrated,
soma-description.ContentList_contentList__card__large__description__3Tim2.soma-description.inverse.hydrated{
  color: #1D262F;
}
div.ContentList_contentList__content__2dP7i>div:nth-of-type(1)>div:nth-of-type(2)>div:nth-of-type(2)>soma-context>soma-link,
div.ContentList_contentList__content__2dP7i>div:nth-of-type(2)>div:nth-of-type(1)>div:nth-of-type(2)>soma-context>soma-link{
  color: #1061FF !important;
  filter: brightness(0) saturate(100%) invert(39%) sepia(63%) saturate(7500%) hue-rotate(218deg) brightness(97%) contrast(108%);
}
div.ContentList_contentList__card__large__highlight__3xlfL{
  background: #232124 !important;
}

div.ContentList_contentList__card__large__1ly6k.ContentList_contentList__card__large__highlight__3xlfL {
  background: #1d262f!important;
}

soma-heading.Custos_custos__title__22Bjs.soma-heading.heading-4.inverse.hydrated,
soma-paragraph.Custos_custos__description__1Qsd6.soma-paragraph.inverse.hydrated{
  color: #1D262F;
}
.Custos_custos__dZWdC.Custos_custos__inverse__32kTf {
  background-color: #fff;
}

.Custos_custos__inverse__32kTf .Custos_custos__btn__cIuej soma-button {
  background-color: #0500F5 !important;
  color: #fff !important;
}

soma-heading.PlatformsTrio_heading__2KSXI.PlatformsTrio_heading__inverse__HoTsr.soma-heading.\32 .hydrated{
  color: #131A20;
}
soma-subtitle.PlatformsTrio_subtitle__1F5is.PlatformsTrio_subtitle__inverse__1MUqT.soma-subtitle.hydrated{
  color: #4D677E;
}
.PlatformsTrio_wrapper__inverse__1LJaS{
  background: #fff;
}

soma-container.PlatformsTrio_wrapper__3AKkv.PlatformsTrio_wrapper__inverse__1LJaS.soma-container.full.hydrated{
  background-color: #F5F7F9;
}

.PlatformsTrio_wrapper__3AKkv .PlatformsTrio_boxcontainer__3nc9f .PlatformsTrio_boxwrapper__heading__inverse__rGPy0,
.PlatformsTrio_wrapper__3AKkv .PlatformsTrio_boxcontainer__3nc9f .PlatformsTrio_boxwrapper__prices__inverse__10t03,
.PlatformsTrio_wrapper__3AKkv .PlatformsTrio_boxcontainer__3nc9f .PlatformsTrio_boxwrapper__prices__newprice__inverse__r8NN-{
  color: #131A20 !important;
}

.PlatformsTrio_wrapper__3AKkv .PlatformsTrio_boxcontainer__3nc9f .PlatformsTrio_boxwrapper__list__inverse__3qONi{
  color: #394D5F !important;
}

.PlatformsTrio_wrapper__3AKkv .PlatformsTrio_boxcontainer__3nc9f .PlatformsTrio_boxwrapper__list_title__inverse__64C0Y{
  color: #394D5F !important;
}

.PlatformsTrio_wrapper__3AKkv .PlatformsTrio_boxcontainer__3nc9f .PlatformsTrio_boxwrapper__list__item__xx73Q soma-icon{
  filter: brightness(0) saturate(100%) invert(39%) sepia(63%) saturate(7500%) hue-rotate(218deg) brightness(97%) contrast(108%);
}

.PlatformsTrio_wrapper__3AKkv .PlatformsTrio_boxcontainer__3nc9f .PlatformsTrio_boxwrapper__link__inverse__2ht4j a{
  color: #0500F5 !important; 
}

.PlatformsTrio_wrapper__3AKkv .PlatformsTrio_boxcontainer__3nc9f .PlatformsTrio_boxwrapper__disclaimer__inverse__328tQ{
  color: #394D5F !important;
}

.ColumnsText_columns__2_mLN.ColumnsText_columns__inverse__2xkO_ {
  background-color: #fff !important;
}

soma-paragraph.ColumnsText_columns__description__buM0G.soma-paragraph.inverse.hydrated{
  color: #394D5F !important;
}

soma-paragraph.ColumnsText_columns__column__Wlink__2keCW.ColumnsText_columns__column__link__inverse__2r1z4.soma-paragraph.inverse.hydrated {
  filter: brightness(0) saturate(100%) invert(39%) sepia(63%) saturate(7500%) hue-rotate(218deg) brightness(97%) contrast(108%);
  font-weight: 400;
}

soma-button.soma-button.primary.md.inverse.hydrated {
  background: #fff !important;
  color: #0400B8;
}

.ColumnsText_columns__divisor__inverse__3nqhl{
  background-color: rgb(5, 0, 245) !important;
}

.header_header__10AWY .header_menu__1OWEB .header_submenuNav__1d3hf.header_cards__2ItBe .header_submenuNavItems__3e4Wj soma-icon{
  background-color: #0400b8 !important;
}
.header_header__10AWY .header_menu__1OWEB .header_submenuNav__1d3hf.header_cards__2ItBe .header_submenuNavItems__3e4Wj soma-icon svg {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(1%) hue-rotate(347deg) brightness(103%) contrast(101%);
}

soma-heading.ColumnsText_columns__title__3Jf7k.soma-heading.heading-2.inverse.hydrated, .ColumnsText_columns__inverse__2xkO_ .ColumnsText_columns__columns__3ha2Y .ColumnsText_columns__column__title__mn5wD,
.ColumnsText_columns__inverse__2xkO_ .ColumnsText_columns__columns__3ha2Y .ColumnsText_columns__column__description__3Zjjr{
  color: #1D262F !important;
}

.ColumnsText_columns__column__link__inverse__2r1z4 a {
  color: #1061FF !important;
}

.ColumnsText_columns__2_mLN.ColumnsText_columns__inverse__2xkO_{
  box-shadow: 0px 2px 4px rgb(19 26 32 / 16%);
}