*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-ss {
  font-family: "Halcyon", sans-serif;
  display: flex;
  gap: 104px;
  padding-right: 4rem;
  padding-left: 4rem;
  justify-content: space-between;
  padding-top: 4rem;
  align-items: center;
}
.container-text-ss {
  flex: 1;
  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 64px;
    color: #3d4ed7;
    margin-bottom: 24px;
  }

  ul {
    margin-bottom: 32px;
    padding: 0;
    max-width: 587px;
    li {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      margin-bottom: 16px;

      p {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        color: #010038;
      }
    }

    p {
      width: 100%;
    }
  }

  .microcopyInput {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #010038;
  }
}
.container-video-ss {
  width: 602px;
  display: flex;
  justify-content: flex-end;
  position: relative;

  &::after {
    content: "";
    width: 602px;
    height: 494px;

    background: #d1dbff;
    border-radius: 12px 0px 0px 12px;

    position: absolute;
    z-index: -1;
    right: -4rem;
    bottom: -36px;
  }
}
#bluePlay {
  transition: 0.3s;
}

.video-box {
  max-width: 482px;
  .video-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    position: relative;
    overflow: hidden;

    cursor: pointer;
    .play-button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.5;
      z-index: 10;
    }

    &:hover {
      .play-button {
        opacity: 1;
        transition: 0.3s;
      }

      #bluePlay{
        fill: #3d4ed7;
      }

      #strokePlay{
        stroke: #3d4ed7;
      }
      .banner {
        transform: scale(1.1);
      }
    }

    .banner {
      width: 100%;
      object-fit: cover;
      height: 336px;
      transition: 0.5s;
      z-index: 1;
    }
  }

  .video-content {
    padding: 24px 32px;
    background: #3d4ed7;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-top: -4px;
    position: relative;

    p {
      margin-top: 8px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      color: #ffffff;
      margin-bottom: 24px;
    }

    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }

    span {
      display: block;
      margin-top: 6px;

      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
    }
  }
  .aspas {
    position: absolute;
    top: -20px;
  }
}

@media (min-width: 1500px) {
  .container-text-ss ul {
    max-width: 100%;
  }
}

@media (max-width: 1366px) {
  .container-ss {
    gap: 0;
  }
}

@media (max-width: 1293px) {
  .container-video-ss::after {
    bottom: -6px;
  }
}

@media (max-width: 1200px) {
  .container-ss {
    flex-direction: column;
    padding-bottom: 72px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .container-video-ss {
    width: 100%;
    margin-top: 48px;
  }
  .video-box {
    max-width: 100%;
    flex-direction: column-reverse;
    display: flex;
    .video-content {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    .video-header {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
  .container-video-ss::after {
    bottom: -44px;
    right: -1rem;
  }
}

@media(min-width: 2167px){
  .container-text-ss h1{
    width: 1333px;
  }
}
@media(min-width: 2500px){
  .container-text-ss h1{
    width: 100%;
  }
}

@media(min-width: 1552px){
  .container-text-ss ul li p{
    line-height: 31px;
  }
}
@media (max-width: 1000px) {
  .hero-ctas,
  h1.h1-white.hero.mobile,
  p.margin-vertical.margin-medium.max-width-medium.text-white-color.mobile {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .container-ss {
    padding-top: 2rem;
  }
  .video-box .video-content p{
    
  }
}
@media (max-width: 675px) {
  .container-video-ss::after {
    width: 88%;
  }

  .container-text-ss {
    h1 {
      font-size: 36px;
      line-height: 44px;
    }
    ul {
      margin-bottom: 24px;
      li p {
        font-size: 16px;
        line-height: 20px;
      }
      li img {
        width: 24px;
        height: 24px;
      }
    }
  }

  .video-box .video-content {
    padding: 48px 16px 24px 16px;
  }
  .video-box .video-content p {
    margin-top: 0;
  }
}
