.reference-title {
    display: none;
}

.sectionSS {
    display: flex;
    width: 83%;
    margin: 0 auto;
    margin-bottom: 30px;
    justify-content: space-between;
}

.sectionSS .item span {
    font-weight: 600;
}

.sectionSS .item {
    text-align: center;
    color: #484848;
    width: 175px;
}

.sectionSS .item p {
    font-size: 14px;
}

.sectionSS .item:nth-child(1) {
    position: relative;
    top: 3px;
}

div.sc-avest {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
}

.sectionSS .item:nth-child(1) img {
    width: 93px;
}


@media(max-width: 768px) {
    div.sc-avest {
        box-shadow: none;
    }

    #searchframe>div {
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.18);
    }

    /* Tirando fundo da div dos inputs */
    #searchframe>div>div.sc-avest.eAxniz.THIN>div.sc-fHeRUh.cKYqQR,
    #searchframe>div>div.sc-avest.eAxniz.THIN>div.sc-iUKqMP.fOipLX,
    #searchframe>div>div.sc-avest.eAxniz.THIN>div.sc-gyElHZ.cSXrKm {
        background-color: transparent;
    }

    /* Mudando cor da fonte das letras da label */
    #searchframe label {
        color: #fff;
        padding-left: 9px;
    }

    /* Deixando o container relativo para posicionar o selo */
    #searchframe>div>div.sc-avest.eAxniz.THIN>div.sc-fHeRUh.cKYqQR>div.sc-dFtzxp.hkRtkq {
        position: relative;
    }

    #searchframe>div {
        width: 97%;
        margin: 0 auto;
    }

    #searchframe>div>div.sc-bUbRBg.cKtFts.THIN,
    #searchframe>div {
        border-radius: 0px 0px 12px 12px;
    }

    .area-destaque__ofertas {
        margin-top: 16px;
    }

    .selo1 {
        position: absolute;
        right: 10px;
        top: 0;
        display: flex;
        align-items: center;
    }

    .selo1 p {
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
        width: 69px;
    }

    .sectionSS {
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 32px;
        padding: 0.9375em;
        margin-bottom: 0;
        width: 100%;
    }

    .sectionSS .item {
        width: 44%;
        font-size: 12px;
    }



    .sectionSS .item:nth-child(1),
    .sectionSS .item:nth-child(2) {
        margin-bottom: 20px;
    }


}