div.section-hero {
    display: none;
}

.hero-ss p,
.hero-ss li,
.hero-ss ul,
.hero-ss h1,
.hero-ss h2,
.hero-ss a,
.hero-ss svg {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Halcyon',
        Arial,
        sans-serif;
}

.hero-ss {
    display: flex;
    max-width: 100%;
    gap: 72px;
    margin: 0 auto;
    margin-top: 4rem;

    opacity: 1;
    transition: all .5s;

    justify-content: space-between;
    padding-right: 4rem;
    padding-left: 4rem;
    align-items: center;
}

.wrapper__text h1 {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.5rem;
    color: #3D4ED7;
    margin-bottom: 0.75rem;
}

.wrapper__text h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.625rem;
    line-height: 2.125rem;
    color: #010038;
    margin-bottom: 1.5rem;
}

.wrapper__text li {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.wrapper__text li+li {
    margin-top: 1rem;
}

.wrapper__text li p {
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #010038;
    flex: 1;
}

.wrapper__text {
    width: 50%;
}

.wrapper__img {
    flex: 1;
    min-width: 36.438rem;
}


.buttons-ss {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.buttons-ss a {
    padding: 0 8px;
    width: 18.125rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.2s;
    height: 72px;
}

.buttonBlue {
    background-color: #3D4ED7;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
}

.buttonBlue:hover {
    background-color: #3341B2;
}

.buttonWhite {
    background-color: #fff;
    color: #3D4ED7;
    border: 2px solid #3D4ED7;
    cursor: pointer;
}

.buttonWhite:hover {
    background-color: #3341B2;
    color: #fff;
    border: 2px solid #fff;
}


.wrapper__img img {
    width: 100%;
    height: 36rem;
    object-fit: cover;
    object-position: right;
    border-radius: 12px;
}

@media(max-width: 1378px) {
    .wrapper__img {
        min-width: 28.438rem;
    }
}

@media(max-width: 1200px) {
    .wrapper__img {
        min-width: 20rem;
    }
}

@media(max-width:1276px) {
    section.hero-ss {
        padding: 0 16px;
    }
}

@media(max-width: 1276px){
    .wrapper__img {
        min-width: 18rem;
    }
}

@media(max-width:991px) {
    .h1-white.hero.mobile,
    .margin-vertical.margin-medium.max-width-medium.text-white-color.mobile,
    .hero-ctas.mobile{
        display: none !important;
    }
    section.hero-ss {
        flex-direction: column;
        padding: 0 32px;
        margin-top: 2rem;
        gap: 1.75rem;
    }

    .wrapper__text {
        width: 100%;
    }

    .wrapper__text h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .wrapper__text h2 {
        font-size: 1.625rem;
        line-height: 2.125rem;
    }

    .buttons-ss {
        flex-direction: column;
    }

    .buttons-ss a {
        width: 100%;
        justify-content: center;
    }

    .wrapper__img {
        min-width: 100%;
    }

    .wrapper__img img {
        height: 300px;
        width: 100%;
        min-width: 100%;
    }

    .wrapper__text li p {
        font-size: 1.125rem;
        line-height: 1.25rem;
    }

    .wrapper__text li+li {
        margin-top: 1.375rem;
    }

    .buttons-ss a {
        height: 72px;
    }
}

@media(max-width:767px) {
    section.hero-ss {
        padding: 0 22px;
    }

    .wrapper__img img {
        height: 188px;
        width: 100%;
    }
}