#element-704 {
    display: none;
}

#element-703,
#element-705 {
    left: 0 !important;
}

#element-703 {
    width: 100% !important;
    max-width: 873px;
    text-align: left !important;
}

#element-703 .x_854cb731 {
    text-align: left !important;
}