* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}


#page-block-gy918ronptb .section-block {
  height: auto;
}
#element-568 {
  position: relative !important;
  height: auto !important;
  left: 0;
}
#page-block-gy918ronptb,
#page-block-gy918ronptb {
  height: auto !important;
}
section#page-block-8ebj5wxjmle {
  height: auto !important;
  position: relative;
}

.containerSupersonic {
  max-width: 964px;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 88px;

  h3 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #232323;
    margin-bottom: 8px;
    text-align: left;
  }

  p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #232323;
    margin-bottom: 54px;
    text-align: left;
  }
}
.titlesCalculator {
  max-width: 474px;
}
.wrapperSimulacaoInfos {
  display: flex;
  justify-content: space-between;
}

.containerInputs {
  label {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #232323;
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }

  input,
  .sufix {
    border: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #232323;
  }
  button {
    border: 0;
    background: transparent;
    cursor: pointer;
  }
}
.containerInputs {
  max-width: 282px;
}
.quantidadeInvestida {
  input {
    max-width: 168px;
  }
}
.diasInvestidos {
  margin-top: 44px;
  input,
  input:disabled {
    width: 45px;
    background: #fff;
  }
  .sufix {
    margin-left: -16px;
  }
}
.modificadoresQuantidade {
  display: flex;
  gap: 16px;
}
.wrapperInputs {
  display: flex;
  justify-content: space-between;
}

.rendimentoCDI {
  width: 339.5px;
  text-align: left;
  span {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #232323;
    margin-bottom: 4px;
  }

  h4 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    color: #232323;
    border-bottom: 3px solid #0053a8;

    display: flex;
    align-items: baseline;
    gap: 16px;
  }
}

#compareCDB {
  background: #f5f5f5;
  padding: 74px 0px;
  h2 {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    color: #232323;
    margin-bottom: 16px;
    text-align: left;
  }

  .containerSupersonic > p {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #232323;
    margin-bottom: 32px;
    max-width: 594px;
  }
  .tableInfo tbody {
    display: flex;
    gap: 40px;
  }
  .tableInfo {
    margin-bottom: 45px;
  }
  .tableInfo td {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
  }
  .tableInfo td + td {
    margin-top: 6px;
  }
  .tableInfo tr {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .listWithInfosInGraph {
    width: 100%;
  }
  .infosTable {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .titleTable {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
    text-align: left;
  }

  .porcentagemTable {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    margin-top: 8px;
  }

  .destaqueTable.compromissada {
    background: #0053a8;
  }
  .destaqueTable {
    background: #808080;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #ffffff;
    padding: 8px 0;
  }
  .tbListWithInfosInGraph {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
  }

  .opacity-0 {
    opacity: 0;
    pointer-events: none;
  }

  .abrir-conta {
    width: 209px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #ffffff;

    text-decoration: none;
    background: #0053a8;

    margin: 0 auto;
    margin-top: 30px;
  }
}

p.confiraPreco.mobile{
  display: none;
  margin-top: 0;
}
@media (max-width: 964px) {
  p.confiraPreco.desktop{
    display: none;
  }
  p.confiraPreco.mobile{
    display: block;
  }
  .containerSupersonic {
    padding: 0 1.25rem;
  }
  .containerSupersonic p,
  .titlesCalculator,
  #compareCDB .containerSupersonic > p {
    width: 100%;
    max-width: 100%;
  }
  .wrapperSimulacaoInfos {
    flex-direction: column;
    gap: 65px;
    padding-bottom: 70px;
  }
  .diasInvestidos {
    margin-top: 32px;
  }

  #compareCDB .titleTable {
    text-align: right;
    position: absolute;
    top: -31px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
  }
  #compareCDB .tbListWithInfosInGraph {
    position: relative;
  }
  #compareCDB .abrir-conta{
    width: 100%;
  }
  #compareCDB .tbListWithInfosInGraph{
    margin-bottom: 48px;
  }

  #compareCDB .tableInfo{
    margin-bottom: 62px;
  }
}

p.confiraPreco{
  margin-top: 32px;
  font-style: normal;
  margin-bottom: 0;
  font-size: 16px;
}