* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.containerSupersonic {
  max-width: 964px;
  margin: 0 auto;
  padding-top: 66px;
  padding-bottom: 88px;
}
.containerSupersonic h3 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #232323;
  margin-bottom: 8px;
}
.containerSupersonic p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #232323;
  margin-bottom: 54px;
}

.titlesCalculator {
  max-width: 474px;
}

.wrapperSimulacaoInfos {
  display: flex;
  justify-content: space-between;
}

.containerInputs label {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #232323;
  display: block;
  margin-bottom: 5px;
}
.containerInputs input,
.containerInputs .sufix {
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #232323;
}
.containerInputs button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.containerInputs {
  max-width: 282px;
}

.quantidadeInvestida input {
  max-width: 168px;
}

.diasInvestidos {
  margin-top: 44px;
}
.diasInvestidos input,
.diasInvestidos input:disabled {
  width: 45px;
  background: #fff;
}
.diasInvestidos .sufix {
  margin-left: -16px;
}

.modificadoresQuantidade {
  display: flex;
  gap: 16px;
}

.wrapperInputs {
  display: flex;
  justify-content: space-between;
}

.rendimentoCDI {
  width: 339.5px;
}
.rendimentoCDI span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #232323;
  margin-bottom: 4px;
}
.rendimentoCDI h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%;
  color: #232323;
  border-bottom: 3px solid #0053a8;
}

#compareCDB {
  background: #f5f5f5;
  padding: 74px 0px;
}
#compareCDB h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #232323;
  margin-bottom: 16px;
}
#compareCDB .containerSupersonic > p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #232323;
  margin-bottom: 32px;
  max-width: 594px;
}
#compareCDB .tableInfo tbody {
  display: flex;
  gap: 40px;
}
#compareCDB .tableInfo {
  margin-bottom: 45px;
}
#compareCDB .tableInfo td {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
#compareCDB .tableInfo td + td {
  margin-top: 6px;
}
#compareCDB .tableInfo tr {
  display: flex;
  flex-direction: column;
}
#compareCDB .listWithInfosInGraph {
  width: 100%;
}
#compareCDB .infosTable {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#compareCDB .titleTable {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
}
#compareCDB .porcentagemTable {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  margin-top: 8px;
}
#compareCDB .destaqueTable.compromissada {
  background: #0053a8;
}
#compareCDB .destaqueTable {
  background: #808080;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  padding: 8px 0;
}
#compareCDB .tbListWithInfosInGraph {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
#compareCDB .opacity-0 {
  opacity: 0;
  pointer-events: none;
}
#compareCDB .abrir-conta {
  width: 209px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-decoration: none;
  background: #0053A8;
  margin: 0 auto;
  margin-top: 30px;
}/*# sourceMappingURL=style.css.map */