/* *,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 */


.container-ss {
    background-image: url("fundoB.png");
    width: 100%;
    background-size: cover;

}

.maxContainer {
    max-width: 1500px;
    margin: 0 auto;
    z-index: 100;
}

.logo {
    padding-top: 84px;
}

.titlePageSS {
    padding-top: 103px;
    width: 496px;
    flex: 1;

}

.titlePageSS p:nth-child(1) {
    font-family: 'Clear Action', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 150%;
    /* identical to box height, or 120px */


    color: #FFFFFF;
}

.titlePageSS p:nth-child(2) {
    font-family: 'Clear Geo',
        sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
    color: #00FF7B;
}

.titlePageSS p:nth-child(3) {
    font-family: 'Clear Action',
        sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 130px;
    line-height: 150%;
    /* identical to box height, or 195px */


    color: #FFFFFF;
}

.titlePageSS p:nth-child(4) {
    font-family: 'Clear Geo',
        sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */


    color: #00FF7B;

}

.copySS {
    font-family: 'Clear Geo';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */
    color: #FFFFFF;

    width: 342px;
}

.copySS span {
    color: #00FF7B;
}

.flex-SS {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textInfo {
    font-family: 'Clear Geo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */


    color: #FFFFFF;
    width: 732px;
    padding-top: 49px;
    padding-bottom: 100px;
}